/* Estilos generales para el contenedor de la cuenta */
.account-container {
    width: 100%;
    max-width: 600px; /* Ajusta el ancho máximo del contenedor */
    margin: 20px auto; /* Centra el contenedor en la página */
    padding: 20px;
    border: 1px solid #ccc; /* Borde sutil para el contenedor */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave para un efecto de profundidad */
    background-color: #f9f9f9; /* Color de fondo claro */
    font-family: 'Arial', sans-serif; /* Tipo de letra general */
}

/* Estilos para el título de la cuenta */
.account-title {
    color: #333; /* Color oscuro para el texto, mejora la legibilidad */
    text-align: center; /* Alineación central del título */
    margin-bottom: 20px; /* Espacio debajo del título */
    font-size: 24px; /* Tamaño de fuente grande para el título */
}

/* Estilos para la información del usuario */
.user-info {
    font-size: 16px; /* Tamaño de letra adecuado para la información */
    color: #555; /* Color de texto moderadamente oscuro */
    line-height: 1.5; /* Espaciado de línea para mejorar la legibilidad */
}

.user-info strong {
    color: #222; /* Color más oscuro para las etiquetas para destacarlas */
}

/* Estilos para cada elemento de información */
.user-info p {
    margin: 10px 0; /* Margen vertical para separar los elementos */
    padding: 5px 0; /* Padding vertical suave */
    border-bottom: 1px solid #eee; /* Línea sutil bajo cada elemento */
}

/* Estilos para mensajes de error */
.error {
    color: red; /* Color rojo para indicar errores */
    text-align: center; /* Alineación central para mayor visibilidad */
    font-weight: bold; /* Negrita para destacar el mensaje de error */
    margin-top: 20px; /* Espacio superior para separar del resto del contenido */
}


.profile-image {
    display: flex;
    justify-content: center; /* Centra la imagen horizontalmente */
    margin-bottom: 20px; /* Espacio debajo de la imagen */
}

.profile-image img {
    width: 120px; /* Tamaño de la imagen */
    height: 120px; /* Tamaño de la imagen */
    border-radius: 50%; /* Hace la imagen redonda */
    border: 3px solid #ccc; /* Borde para la imagen */
    object-fit: cover; /* Asegura que la imagen cubra todo el espacio sin distorsionarse */
}
