@import "@styles/colors.css"; /* Importar los colores globales si es necesario */

/* Contenedor principal */
.container {
  display: grid;
  grid-template-areas: "image info";
  grid-template-columns: 1fr 2fr;
  width: 450px;
  height: 270px; /* Aumentar ligeramente la altura total */
  border-radius: 10px;
  background-color: var(--instc-bg);
  border: 1px solid transparent;
  animation: fadeIn 0.5s;
  cursor: pointer;
  transition: filter 0.3s;
  padding: 1rem;
}

.container:hover {
  filter: brightness(80%);
}

/* Contenedor de la imagen */
.imagenContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Asegura que el contenedor ocupe toda la altura */
}

/* Imagen de la institución */
.institutionImage {
  width: 100%;
  max-width: 160px;
  height: 100%;
  max-height: 235px; /* Aumentar la altura máxima de la imagen */
  border-radius: 10px;
  object-fit: cover;
}

/* Contenedor de información */
.infoContainer {
  grid-area: info;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribuye el contenido uniformemente */
  align-items: flex-start;
  background-color: transparent;
  border-radius: 0 10px 10px 0;
  padding-left: 10px;
  height: 100%; /* Asegura que el contenedor tenga la misma altura que la imagen */
}

/* Nombre del procedimiento */
.procedimientoName {
  background-color: var(--instc-tramite-bg);
  border-radius: 5px;
  color: var(--instc-tramite-color);
  padding: 0.1rem 0.3rem; /* Padding simétrico y más pequeño */
  font-size: 0.85rem; /* Tamaño de fuente más pequeño */
  margin: 0;
  display: inline-block;
}

/* Estilos de texto */
.heading1 {
  color: var(--text-primary);
  font-family: inherit;
  font-size: 1.5rem; /* Tamaño de fuente ajustado */
  font-weight: 700;
  margin: 0.5rem 0; /* Espacio superior e inferior */
}

.heading {
  color: var(--text-secondary);
  font-family: inherit;
  font-size: 1.15rem; /* Tamaño de fuente ajustado */
  margin: 0.5rem 0; /* Espacio superior e inferior */
}

.timelapmse {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem; /* Tamaño de fuente ajustado */
  color: var(--text-primary);
  margin: 0.5rem 0; /* Espacio superior e inferior */
}

/* Animación de desvanecimiento */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
