/* Contenedor principal */
.container {
  display: grid;
  grid-template-areas: "image info";
  grid-template-columns: 1fr 2fr; /* Adjust column widths as needed */
  width: 400px;
  height: 195px;
  top: 164px;
  left: 312px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid transparent;
}

/* contenedor de la imagen */
.imagen-conteiner{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Reglas para la imagen */
.institution-image {
  width: 159px;
  height: 169px;
  
  border-radius: 20px;
}

/* Contendor derecho */
.info-container {
  grid-area: info;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-color: transparent;
  border-radius: 0 10px 10px 0;
  overflow-y: auto;
  padding-left: 10px;
  
}

/*texto */
.heading {
  color: #00367E;
  font-family: inika-regular, sans-serif;
  font-size: 20px;
}

.heading1 {
  color: #00367E;
  font-family: inika-regular, sans-serif;
  font-size: 26px;
  font-weight: 700;
}

.timelapmse {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  color: #00367E;
}