/* Contenedor principal */
.text-input-container {
    display: flex;
    max-width: 60%;
    padding: 40px;
    padding-top: 0px;
    max-height: 15%;
}

.eye {
    display: flex;
    justify-content: center;
    align-items: center;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    user-select: none;
    font-size: 30px;
    transform: translateX(-30px);
    color: #0069AD
  }

  .eye.closed {
    opacity: 0.4;
  }
  
  .eye.open {
    opacity: 1;
  }

.icono-blanco {
    filter: brightness(0) invert(1);
}

/* Contenedor de imagen */
.image-container{
    display: flex;
    background-color: #0069AD;
    border: transparent;
    width: 20%;
    user-select: none;
    align-items: center;
    justify-content: center;
}
    
.image-container img {
    height: 70%;  
    width: auto;
    object-fit: contain;
}

/* Contenedor del texto */
.text-container {
    display: flex;
    background-color: #ECECEC;
    width: 80%;
    font-weight: bold
}

.text-container input[type="text"],
.text-container input[type="password"],
.text-container input[type="number"] {
    display: flex;
    background-color: #ECECEC;
    color: #6580A5;
    text-align: center;
    border: transparent;
    outline: none;
    width: 100%;
    font-size: 2em;
    font-weight: bold
}


.text-container input[type="text"]::placeholder,
.text-container input[type="password"]::placeholder,
.text-container input[type="number"]::placeholder {
    display: flex;
    color: #6580A5;
    text-align: center;
    font-weight: bold
}

.text-container input[type="text"]:focus,
.text-container input[type="password"]:focus,
.text-container input[type="number"]:focus {
    border: transparent;
}

/* Media Queries para hacerlo responsive */
@media screen and (max-width: 768px) {
    .text-input-container {
        flex-direction: column;
    }
    .image-container, .text-container {
        width: 100%;
        border-radius: 0;
    }
    .text-container input[type="text"], .text-container input[type="text"]::placeholder {
        font-size: 1em;
    }
}
