.btn-outlined {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 26px;
  color: white;
  
  font-family: 'Inter';
  font-style: normal;
  margin-top: 20px;
  max-height: 45px;
  min-height: 45px;
  flex-shrink: 0;

}
.btn-outlined:hover{
  color: gray;
}

.icon {
  color: white;
  font-size: 20px;
}