.contenedor:active{
  filter: brightness(60%); /* Reducción del brillo al 80% */
}

.link-menu{
  cursor: pointer;
  font-size: 26px;
  color: white;
  font-family: 'Inter';
  font-style: normal;
  text-decoration: none;
  margin-left: 10px;
}


.link-menu:hover{
  color: gray;
}

.icon {
  color: white;
  font-size: 20px;
}
