.searched {
  width: 433px;
  height: 35px;
  border: 1px solid #b6b6b6;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 5px;

}

.searched:hover{
  border: 2px solid #277ae0;
}

.icon-serchad {
  color: #737373;
  width: 23px;
  height: 23px;

}

.input-search {
  width: 483px;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}


