/* Contenedor principal */
.custom-button-container {
    display: flex;
    justify-content: center;
    border: 1px solid black;
}

/* Contenedor botón */
.custom-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00367E;
    color: white;
    min-width: 8em; /* Ajusta el ancho mínimo */
    padding: 1em 2em; /* Ajusta el padding */
    border: none;
    border-radius: 15px; /* Redondea los bordes */
    font-size: 2em; /* Ajusta el tamaño de la fuente */
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
    white-space: nowrap; 
    font-weight: bold;
}

.custom-button:hover {
    background-color: #002254;
}

.custom-button:active {
    background-color: #00153C;
}
