.stats-container {
    display: flex; /* Usamos inline-flex para alinear los componentes horizontalmente */
    flex-direction: row;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 2em;
  }
  
  .bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
    width: 100%;
  }
  
  .bar {
    height: 5em;
    min-width: 30px;
    background-color: #0069AD;
  }
  
  .day, .label {
    margin-top: 5px;
    font-size: 1.8em;
  }
  