/* Contenedor principal */
.textinput-login-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  color: white;
  border: 1px solid #cccccc;
  border-radius: 0.1rem;
  background-color: #0069AD;
}

.eye {
    display: flex;
    justify-content: center;
    align-items: center;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    user-select: none;
    font-size: 30px;
    transform: translateX(-30px);
    color: #0069AD
  }

  .eye.closed {
    opacity: 0.4;
  }
  
  .eye.open {
    opacity: 1;
  }

.icono-blanco-1 {
    filter: brightness(0) invert(1);
}

/* Contenedor de imagen */
.image-container-1{
    display: flex;
    background-color: #0069AD;
    border: transparent;
    width: 20%;
    user-select: none;
    align-items: center;
    justify-content: center;
}
    
.image-container-1 img {
    height: 70%;  
    width: auto;
    object-fit: contain;
}

/* Contenedor del texto */
.text-container-1 {
    display: flex;
    background-color: #ECECEC;
    width: 80%;
    font-weight: bold
}

.text-container-1 input[type="text"],
.text-container-1 input[type="password"],
.text-container-1 input[type="number"] {
    display: flex;
    background-color: #ECECEC;
    color: #6580A5;
    text-align: center;
    border: transparent;
    outline: none;
    width: 100%;
    font-size: 2em;
    font-weight: bold
}


.text-container-1 input[type="text"]::placeholder,
.text-container-1 input[type="password"]::placeholder,
.text-container-1 input[type="number"]::placeholder {
    display: flex;
    color: #6580A5;
    text-align: center;
    font-weight: bold
}

.text-container-1 input[type="text"]:focus,
.text-container-1 input[type="password"]:focus,
.text-container-1 input[type="number"]:focus {
    border: transparent;
}

/* Media Queries para hacerlo responsive */
@media screen and (max-width: 768px) {
    .text-input-container-login {
        flex-direction: column;
    }
    .image-container-1, .text-container-1 {
        width: 100%;
        border-radius: 0;
    }
    .text-container-1 input[type="text"], .text-container input[type="text"]::placeholder {
        font-size: 1em;
    }
}
