.contenedor-principal {
  width: 100vw; 
  height: 100vh;
  background-color: #E4E4E4;
  display: grid;
  grid-template-columns: 1.5fr 6fr;
  animation: fadeIn 1s ;

}

.opciones {
  grid-column: 1;
  background-color: #00367E;
  width: fill ;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 15px;


}

.interfaz{
  grid-column: 2;



  display: grid;
}
 




.imagen-portada{
  height: 130px;
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Empieza con opacidad 0 (oculto) */
  }
  to {
    opacity: 1; /* Termina con opacidad 1 (visible) */
  }
}