.input-icon {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  color: white;
  border: 1px solid #e5e4e5;
  border-radius: 0.1rem;
  background-color: #0069AD;
}

.input-icon input {
  flex: 1;
  border: none;
  border-radius: 0.1rem;
  padding: 0.5rem;
  font-family: 'Inika';
  font-size: 2rem;
  font-weight: bold;
  white-space: nowrap; /* Evita el salto de línea */
  overflow: hidden; /* Oculta el texto que desborda */
  text-overflow: ellipsis; /* Añade puntos suspensivos para indicar texto truncado */
  background-color: #e5e4e5;
  color: #6580A5;
}

.input-icon input:focus {
  outline: none !important;
}

.input-icon input::placeholder {
  color: #6580A5;
}

.icon-font {
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: 2rem;
  min-width: 2rem;
}

/* Media query para ajustar el tamaño en pantallas más pequeñas */
@media (max-width: 768px) {
  .search-bar input {
    width: calc(100% - 65px);
  }
}
