/* Variables globales para el modo claro */

:root {
    --button-bg: #00367E;
    --button-text: #FFFFFF;
    --button-activate: #00153C;
    --button-hover: #002254;
}


/* Variables globales para el modo oscuro */

body.darkMode {
    --button-bg: #4A90E2;
    --button-text: #E5E5E5;
    --button-activate: #357ABD;
    --button-hover: #629FDA;
}