/* Uso @import "@styles/colors.css"; */

/* Variables globales para el modo claro */
:root {

    /* Botones */
    --button-bg: #00367E;
    --button-text: #ffffff;
    --button-activate: #00153C;
    --button-hover: #002254;
    
    /* Checkbox */
    --check-bg: #ffffff;
    --list-border-check: #00153C;
    --list-bg-check: #00367E;
    --hover-border-check: #002766;
    --hover-bg-check: #004A9E;
    --hover-border-checked: #002766;
    --hover-bg-checked: #004A9E;
    --check-text: #005a96;

    /* TextInputIcon */
    --tic-icon-bg: #00367E;
    --tic-icon-color: #ffffff;
    --tic-bg: #e5e4e5;
    --tic-text: #024069;
    --tic-placeholder: #005a96;
    --tic-icon-action-color: #000000;

    /* TextArea -> para enviar comentarios*/
    --ta-bg: #ffffff;
    --ta-text: #000000;
    --ta-bt-envio-bg: #00367E;
    --ta-bt-envio-hover: #002254;
    --ta-bt-envio-text: #ffffff;
    --ta-bt-cancel-bg: #dadada;
    --ta-bt-cancel-hover: #b0b0b0;
    --ta-bt-cancel-text: #000000;

    /* Label_input -> cambio de correo, telefono*/
    --li-bg: #00367E;
    --li-hover: #002254;
    --li-check-bg: #00FF00;
    --li-cancel-bg: #FF0000;

    /* Dropdown */
    --dd-bg-inactivate: #00367E;
    --dd-inactivate-text: #ffffff;
    --dd-bg-activate: #002254;
    --dd-content-bg: #ffffff;

    /* IconColor */
    --ib-color: #005a96;
    
    /* Sidebar */
    --main-left-size-bg: #00367E;
    --main-right-size-bg: #E4E4E4;

    /* Login, SingUp & LogOut*/
    --lg-left-side: #00367E;
    --lg-right-side: #ffffff;
    --lg-icon: #00367E;

    /*Configurations*/
    --cg-bg: #ffffff;
    --cg-icon-color: #00367E;

    --cg-slider-point-color: #00367E; /* Color del punto del Slider */
    --cg-slider-point-hover: rgba(0, 54, 126, 0.2);
    --cg-slider-point-focus: rgba(0, 54, 126, 0.5);;
    --cg-slider-raid-active-bg: #004A9E;
    --cg-slider-raid-active-margin: #004A9E;
    --cg-slider-rail-inactive: #bdbdbd; /* Color de la pista de fondo */

    --cg-switch-color: #00367E; /* Color del punto cuando el Switch está activado */
    --cg-switch-hover-bg: rgba(0, 54, 126, 0.2); /* Fondo del punto en hover (estado activado) */
    --cg-switch-focus-shadow: rgba(0, 54, 126, 0.2); /* Sombra cuando el Switch está enfocado */
    --cg-switch-off-color: #757575; /* Color del punto cuando el Switch está desactivado */
    --cg-switch-track-off: #bdbdbd; /* Color de la pista cuando el Switch está desactivado */
    
    --radio-color: #00367E; /* Color del punto del radio cuando está seleccionado */
    --radio-hover-color: rgba(0, 54, 126, 0.2); /* Color del punto en hover */
    --radio-off-color: #757575; /* Color del punto cuando no está seleccionado */

    /*Institution Info*/
    

    /* Account */
    --ac-icon-edit-color: #000000;
    --ac-icon-edit-bg: #ffffff;
    --ac-bg-image: rgba(0, 0, 0, 0.4);
    --ac-icon-editing-color: #ffffff;
    --ac-icon-editing-hover: #ddd;

    /* Comentarios */
    --ct-bg: #ffffff;
    --ct-icons: #005a96;

    /*InstitutionCard*/
    --instc-bg: #ffffff;
    --instc-tramite-bg: #00153C;
    --instc-tramite-color:#ffffff;

    /* Graficas */
    --bar-bg: #00367E;

    /* Dividers */
    --dv-main: #eee;
    --dv-info: #A1A1A1;
    --dv-menu: #ffffff;

    /*Borders*/
    --border-primary: #cccccc;
    --border-secundary: #ddd;

    /* Sombras */
    --shadow-primary: #cccccc;
    --shadow-secundary: rgba(0, 0, 0, 0.1);
    
    /* Errores & Aceptaciones */
    --error-bg: #e3485033;
    --error-border: #e34850;
    --acceptance-bg: #33e37b33;
    --acceptance-border: #33e37b;

    /* Text */
    --text-test: red;
    --text-primary: #00367E;
    --text-secondary: #024069;
    --text-tertiary: #005a96;
    --text-white: #ffffff;
    --text-black: #000000;
    --text-link: #0000ff;
    --text-hover: #9393B6;
    --text-error: #e34850;
    --text-acceptance: #33e37b;

    /* Cards  */
    --card-color: #ffffff;
}

/* Variables globales para el modo oscuro */
body.darkMode {
    /* Botones */
    --button-bg: #4A90E2;
    --button-text: #E5E5E5;
    --button-activate: #357ABD;
    --button-hover: #629FDA;
    
    /*Texto*/
    --text-triday: #12263f;
    /* Sidebar */
    --main-left-size-bg: black;
    --main-right-size-bg: #9e9e9e;
    --text-white: black;
    --text-black: white;

    /* Cards*/
    --card-color: rgb(0, 0, 0);
    
}

