@import '@styles/styles.css'; /* Importamos el archivo global */

.container {
  padding: 1rem;
  display: flex;
  justify-content: center;
  background: none;
  flex-direction: column;
  align-items: center;
  font-family: var(--title-inika); /* Usamos la tipografía global */
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }
}

.configCard {
  padding: 1rem;
  background: linear-gradient(to bottom, var(--color-light-bg), #f7f7f7);
  border-radius: 8px;
  max-width: 800px;
  width: 100%;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  margin: auto;
  transition: none;
  font-family: var(--title-inika); /* Fuente global */
}

@media (max-width: 576px) {
  .configCard {
    padding: 0.5rem;
  }
}

@media (min-width: 992px) {
  .configCard {
    max-width: 1000px;
  }
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--color-light-text); /* Usamos color global */
  margin-bottom: 0.75rem;
  font-family: var(--title-inika); /* Fuente global */
}

@media (max-width: 576px) {
  .title {
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  .title {
    font-size: 1.5rem;
  }
}

.sectionHeader {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.subtitle {
  margin-left: 0.25rem;
  font-family: var(--title-inika); /* Fuente global */
}

.icon {
  color: var(--color-dark); /* Color global */
  font-size: 0.75rem;
}

@media (max-width: 576px) {
  .icon {
    font-size: 0.6rem;
  }
}

@media (min-width: 992px) {
  .icon {
    font-size: 1rem;
  }
}

.subtitle1-custom {
  font-size: 0.875rem !important;
  color: red !important;
  margin-top: 0.5rem !important;
  font-weight: 400 !important;
  border: 1px solid black !important;
}

.saveButton {
  margin-top: 1rem;
  font-size: 0.5rem;
  font-weight: bold;
  border-radius: 3px;
  text-transform: uppercase;
  width: 100%;
  padding: 0.4rem;
  background-color: var(--color-dark);
  color: var(--color-light-bg);
  transition: background-color 0.3s ease, color 0.3s ease;
  text-align: center;
}

.saveButton:hover {
  background-color: #007bff;
  color: #fff;
}

@media (max-width: 576px) {
  .saveButton {
    width: auto;
  }
}

.darkMode .configCard {
  background: linear-gradient(to bottom, var(--color-dark-bg), #3a3a3a);
  color: var(--color-dark-text);
}

.darkMode .title,
.darkMode .subtitle {
  color: var(--color-dark-text);
}

.darkMode .icon {
  color: var(--color-dark-text);
}

.control {
  margin-top: 0.5rem;
}

* {
  transition: none !important;
}
