@import "@styles/colors.css";

.headerComent {
  display: flex;
  flex-direction: row;
  gap: 30px;
  color: var(--ct-text); /* Aplica el color negro al encabezado */
}

.comentario {
  margin-bottom: 20px;
  color: var(--ct-text); /* Aplica el color negro al texto del comentario */
}

.headComent {
  font-weight: bold;
  color: var(--ct-text); /* Aplica el color negro al nombre */
}

.dateComent {
  font-size: 0.9rem;
  color: var(--ct-text); /* Aplica el color negro a la fecha */
}

.comentContent {
  color: var(--ct-text); /* Aplica el color negro al contenido del comentario */
}
