@import "@styles/colors.css";

.headerComent {
  display: flex;
  flex-direction: row;
  gap: 30px;
  color: var(--ct-text); /* Aplica el color negro al encabezado */
}

.comentario {
  margin-bottom: 20px;
  color: var(--ct-text); /* Aplica el color negro al texto del comentario */
}

.headComent {
  font-weight: bold;
  color: var(--ct-text); /* Aplica el color negro al nombre */
}

.dateComent {
  font-size: 0.9rem;
  color: var(--ct-text); /* Aplica el color negro a la fecha */
}

.comentContent {
  color: var(--ct-text); /* Aplica el color negro al contenido del comentario */
}

/* Contenedor de la imagen */
.imageContainer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

/* Imagen del comentario */
.commentImage {
  max-height: 300px; /* Altura máxima para imágenes verticales */
  width: auto; /* Ajusta el ancho automáticamente */
  max-width: 100%; /* Limita el ancho para adaptarse al contenedor */
  object-fit: cover; /* Recorta la imagen para que se ajuste sin distorsionarse */
  border-radius: 8px; /* Bordes redondeados para un mejor estilo */
}
