.comentario {
  margin-bottom: 20px;
  color: var(--ct-text);
}

.headerComent {
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: var(--ct-text);
}

.headComent {
  font-weight: bold;
}

.dateComent {
  font-style: italic;
}

.comentContent {
  margin-bottom: 10px;
}

.imageContainer {
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
}

.commentImage {
  height: 200px; /* Altura fija para todas las imágenes */
  width: auto; /* Ajusta el ancho automáticamente para mantener la proporción */
  max-width: 100%; /* Evita que las imágenes se salgan del contenedor si son muy anchas */
  cursor: pointer;
  border-radius: 5px; /* Bordes redondeados de 5px */
  transition: transform 0.2s;
}

.commentImage:hover {
  transform: scale(1.05); /* Efecto de zoom al pasar el mouse */
}
