@import "@styles/colors.css";

.checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 0.5rem 0.5rem 0.5rem 1rem; /* top, right, bottom, left */
  background-color: var(--check-bg);
  font-size: 1.2rem;
  box-shadow: 0.3rem 0.3rem 0.6rem 0 var(--shadow);
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 1.5rem;
  transition: filter 0.3s;
}

.button-checkbox {
  width: 1.5rem;
  height: 1.5rem;
  background-color: transparent;
  border: 0.1rem solid var(--list-border-check);
  border-radius: 0.2rem;
  transition: background-color 0.3s, border-color 0.3s; /* Suaviza la transición */
}

.button-checkbox:hover {
  background-color: var(--hover-bg-check); /* Cambia al color de fondo deseado en hover */
  border-color: var(--hover-border-check); /* Cambia el color del borde en hover */
}

.button-checkbox-click {
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--list-bg-check);
  border: 0.1rem solid var(--list-border-check);
  border-radius: 0.2rem;
  transition: background-color 0.3s, border-color 0.3s;
}

.button-checkbox-click:hover {
  background-color: var(--hover-bg-checked); /* Cambia al color de fondo deseado en hover cuando está seleccionado */
  border-color: var(--hover-border-checked); /* Cambia el color del borde en hover cuando está seleccionado */
}

.titulo-checkbox {
  color: var(--check-text);
  line-height: 1.5rem;
  margin: 0;
}
