@import "@styles/colors.css";

.headerInstitution { 
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.contenedorInfo {
  margin-left: 22px;
  animation: fadeIn 0.5s;
  margin-right: 22px;
}

.tituloInfo {
  color: var(--text-primary);
  font-weight: bold;
}

.menuInfo {
  display: flex;
  flex-direction: row;
  align-items: start;
  padding-left: 15px;
  gap: 40px;
  margin-bottom: 0;
}

.informacionContenido {
  margin-top: 0;
  padding-top: 20px;
  width: 100%;
  border-top: 1px solid var(--dv-info);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
