@import '@styles/styles.css';

/* Animación básica */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Contenedor principal */
.login-container {
  display: flex;
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
  animation: fadeIn 1s;
  overflow-y: auto; /* Permite desplazamiento si el contenido es más alto que la pantalla */
}

/* Contenedor izquierdo */
.login-left-side {
  display: flex;
  flex: 1.2; /* Ajustable según la proporción deseada */
  padding: 1rem;
  align-items: center;
  justify-content: center;
  user-select: none;
  background-color: #0069AD;
}

/* Imagen en el contenedor izquierdo */
.login-left-side img {
  width: 100%;
  height: auto;
}

/* Contenedor derecho */
.login-right-side {
  display: flex;
  height: 100vh;
  align-items: center;
  flex: 2; /* Ajustable para mantener la proporción en diferentes pantallas */
  background-color: white;
  flex-direction: column;
  overflow-y: auto; /* Permite desplazamiento en el contenido del contenedor */
  padding: 2rem 0; /* Espacio superior e inferior */
}

/* Nuevo contenedor lado derecho */
.content-right-side {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh; /* Altura completa de la ventana del visor */
  gap: 2rem;
}

/* Título en lado derecho */
.login-title {
  font-family: var(--title-inika);
  font-weight: bold;
  font-size: 6em; /* Ajuste para dispositivos más pequeños en la consulta de medios */
  color: #00367E;
}

/* Mensaje de error estilizado */
.error-message {
  border: 1px solid #e34850;
  color: #e34850;
  background-color: #e3485033;
  border-radius: 0.3rem;
  width: 100%;
  padding: 0.5rem;
}

/* Contenedores para formularios */
.login-dpi-container,
.login-password-container,
.login-rol-container,
.login-button-container {
  width: 100%;
  max-width: 80%;
  margin: auto; /* Centrado horizontal */
}

/* Registro y otros contenedores de texto */
.login-register-container,
.text-register-container,
.text-info-register-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-family: var(--title-inika);
  font-size: 1.5rem;
  font-weight: bold;
}

/* Consultas de medios para responsividad */
@media (max-width: 768px) {
  .login-container,
  .login-left-side,
  .login-right-side,
  .content-right-side {
    flex-direction: column; /* Cambio a vertical en pantallas pequeñas */
    width: 100%; /* Ocupa todo el ancho */
    flex: none; /* Sin flexibilidad para evitar distorsiones */
  }

  .login-title {
    font-size: 3em; /* Tamaño de fuente reducido para pantallas más pequeñas */
  }

  .login-dpi-container,
  .login-password-container,
  .login-rol-container,
  .login-button-container {
    max-width: 80%; /* Mayor uso del espacio disponible en pantallas pequeñas */
  }
}
