/* Contenedor principal */
.custom-button-container {
    display: flex;
    justify-content: center;
    width: 100%; /* Asegura que el contenedor se adapta al ancho del contenedor padre */
}

/* Contenedor botón */
.custom-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00367E;
    color: white;
    width: 100%; /* Adaptación completa dentro del contenedor */
    max-width: 15rem; /* Ancho máximo del botón */
    min-width: 10rem; /* Ancho mínimo del botón */
    min-height: 5rem; /* Altura mínima del botón */
    font-size: 2rem; /* Tamaño de la fuente */
    padding: 0.5rem 1rem; /* Espaciado interno */
    border-radius: 1rem; /* Bordes redondeados */
    border-color: transparent;
    white-space: nowrap; /* Evita el salto de línea */
    overflow: hidden; /* Oculta el texto que desborda */
    text-overflow: ellipsis; /* Añade puntos suspensivos para indicar texto truncado */
    font-family: var(--title-inika); /* Fuente personalizada */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s, color 0.3s; /* Transición suave para el color de fondo y el texto */
}

.custom-button:hover {
    background-color: #002254; /* Color de fondo al pasar el mouse */
}

.custom-button:active {
    background-color: #00153C; /* Color de fondo al hacer clic */
}

/* Media queries para adaptar los estilos a dispositivos más pequeños */
@media (max-width: 768px) {
  .login-container,
  .login-left-side,
  .login-right-side,
  .content-right-side {
    flex-direction: column;
    width: 100%;
    flex: none;
  }

  .login-title {
    font-size: 3em;
  }

  .login-dpi-container,
  .login-password-container,
  .login-rol-container,
  .login-button-container,
  .custom-button {
    max-width: 100%; /* Se ajusta para que el botón no se salga del contenedor */
    min-width: auto; /* Se elimina el mínimo para permitir más flexibilidad */
  }
}
