.styled-button-pen {
  transition: color 0.3s ease; 
}

.styled-button-pen:hover {
  color: blue; 
  cursor: pointer;
}
.checks-buttons{
  transition: font-size 0.3s ease; 
  color: var(--icon-color, black);
}
.checks-buttons:hover{
  font-size: 20px;
  cursor: pointer;
}