.autocomplete-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Alinear todo el contenido horizontalmente */
  position: relative;
  width: 97%; /* Asegura que ocupe todo el espacio horizontal */
}

.search-icon-container {
  display: flex;
  align-items: center;
  margin-right: 8px; /* Espacio entre el icono y el input */
}

.icon-serchad {
  color: #737373;
  width: 23px;
  height: 23px;
}

.input-wrapper {
  position: relative;
  width: 100%; /* Asegura que el input ocupe todo el ancho disponible */
}

.input-search {
  width: 100%; /* Ocupar todo el espacio */
  border: none;
  padding: 8px 30px 8px 5px; /* Ajustar padding para dejar espacio suficiente al texto */
  outline: none;
  transition: border-color 0.3s;
  box-sizing: border-box; /* Asegura que el padding y el ancho se calculen correctamente */
}

.clear-button {
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto; /* Asegura que el botón esté centrado verticalmente */
  background: transparent;
  cursor: pointer;
  font-size: 16px; /* Ajustar el tamaño de la "x" */
  color: black;
  width: 24px; /* Ancho del botón circular */
  height: 24px; /* Alto del botón circular */
  border-radius: 50%; /* Hacer el botón circular */
  display: flex; /* Para centrar el contenido */
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, color 0.3s, transform 0.2s ease; /* Suavizar la transición */
  transform-origin: center; /* Asegurar que el botón crezca desde el centro */
  border: none; /* Eliminar cualquier borde existente */
}

.clear-button:hover {
  background-color: #777; /* Cambiar color de fondo en hover */
  transform: scale(1.1); /* Ligeramente agrandar el botón en hover */
  color: white; /* Cambiar el color de la "x" en hover */
}

.input-suggestion {
  position: absolute;
  top: 50%;
  left: 5px; /* Alinear con el padding-left del input */
  transform: translateY(-50%);
  color: transparent;
  z-index: 1;
  pointer-events: none; /* Evita que el texto sugerido interfiera con el input */
}

.suggestion-text {
  color: #b6b6b6; /* Color más tenue para la parte sugerida */
}

.suggestions-list {
  position: absolute;
  top: calc(100% + 9.5px); /* Mover el dropdown 10px más abajo del input */
  width: 100%;
  border: 1px solid #dcdcdc;
  border-top: none; /* Elimina el borde superior */
  background-color: white;
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15); /* Sombra más visible */
  border-radius: 0px 0px 8px 8px; /* Bordes redondeados solo en la parte inferior */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15); /* Sombra solo en los lados y parte inferior */
}

/* Estilo de los elementos de la lista */
.suggestion-item {
  padding: 12px 20px;
  cursor: pointer;
  border-bottom: 1px solid #f1f1f1;
  transition: background-color 0.3s, color 0.3s; /* Suavizar transición de hover */
}

/* Hover y foco de las sugerencias */
.suggestion-item:hover,
.suggestion-item.active {
  background-color: #f0f0f0; /* Color de fondo al pasar el cursor */
  color: #000; /* Cambiar color de texto en hover */
}

.suggestion-item:last-child {
  border-bottom: none;
}

.search-icon-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Alinear el ícono en el centro */
  border-radius: 50%; /* Hacerlo circular */
  width: 40px; /* Tamaño del contenedor del ícono */
  height: 40px; /* Tamaño del contenedor del ícono */
  cursor: pointer; /* Hacer que el cursor cambie a pointer */
  transition: background-color 0.5s ease, transform 0.3s ease-out, box-shadow 0.3s ease; /* Reducir duración de la transformación */
  will-change: transform; /* Optimización para el navegador */
}

.search-icon-container:hover {
  background-color: #277ae0; /* Cambiar color de fondo en hover */
  transform: scale(1.1); /* Ligeramente agrandar el ícono al pasar el cursor */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Hacer la sombra más visible en hover */
}

.icon-serchad {
  color: #737373; /* Color inicial del ícono */
  font-size: 18px; /* Tamaño del ícono */
  transition: color 0.3s ease; /* Suavizar la transición de color */
}

.search-icon-container:hover .icon-serchad {
  color: white; /* Cambiar color del ícono cuando el usuario pasa el cursor */
}
