.contenido{
  
  display: grid;
  grid-template-rows: 1fr 6fr;

}

.cabecera{
  
  grid-row: 1;
  background-color: white;
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 40px;
  box-shadow: 5px 5px 10px 0 rgb(204, 204, 204);

  
}

.paginas{
  max-height: 800px;
  margin-top: 20px;

}
